<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"  />
        <title> MarketPlace </title>
        <link rel="stylesheet" href="css/styleMarket.css" type="text/css" media="all" />
        <script src="js/appMarket.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1> Mercado de Verduras OnLine </h1>
        <p>
            Bienvenido a su tienda digital de compras y ventas <span class="elemento"></span><sub class="subindice" title="Subtitulo"></sub><span class="elemento"></span>
        </p>
        <img src="https://mir-s3-cdn-cf.behance.net/projects/404/367dda180846711.Y3JvcCw0NTAxLDM1MjAsMCw1NDU.png" alt="Casa" class="center"></img>  <br /> <br />
        <div>
        <button onClick= {Buy_page()} > Vender </button>
        <button onClick= {Sell_page()} > Comprar </button>
        </div>
    </body>
</html>

